.form {
  display: flex;
  justify-content: center;
  width: 50%;
  box-sizing: border-box;
}

.input-text {
  font-family: 'Dosis', sans-serif;
  color: #36342A;
  font-size: 1em;
  font-weight: bold;
}

.input {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
}

.table {
  width: 30%;
  overflow: hidden;
  white-space: nowrap;
}

.name {
  width: 70%;
}

.input-value {
  width: 100%;
  border: none;
  border-bottom: 1.5px solid #36342a;
  height: 120%;
}

.label {
  margin: 0 10px 0 0;
}