.form {
  display: flex;
  justify-content: center;
  width: 50%;
  box-sizing: border-box;
}

.input {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
}

.table {
  width: 30%;
  overflow: hidden;
  white-space: nowrap;
}

.name {
  width: 70%;
}