.section {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.lunch-subtitle {
  font-family: 'Dosis', sans-serif;
  color: #36342A;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0 0;
}

.lunch-title  {
  font-family: 'Patrick Hand', cursive;
  font-size: 1.2em;
  color: rgb(78, 76, 65);
  padding: 10px 0 10px 20px;
  text-align: center;
}

.join {
  display: flex;
  justify-content: space-around;
}

.drinks {
  display: flex;
  justify-content: space-evenly;
}

/* Color Theme Swatches in Hex */
.Primavera-1-hex { color: #ED4248; }
.Primavera-2-hex { color: #FF8147; }
.Primavera-3-hex { color: #7DB57D; }
.Primavera-4-hex { color: #36342A; }
.Primavera-5-hex { color: #FFFEC7; }