.breakfast {
  padding: 10px 10px 20px 10px;
  display: flex;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 99%;
}

.breakfast-title  {
  font-family: 'Patrick Hand', cursive;
  font-size: 1.2em;
  color: rgb(78, 76, 65);
  padding: 10px 0 10px 20px;
  text-align: center;
}